/* override nav-search background */

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.rst-content li {
    padding-top: 4px;
}

/*
div[class^="highlight"] pre {
  font-size:10px
}
*/